@import "utility";
// @include font-smoothing(on);

$base-text-size: 16px;
$base-font-family: "Raleway", sans-serif;
$tic-tac-toe-font: "Gloria Hallelujah", cursive;
$background-color: hsla(270, 6%, 12%, 1);
$base-font-color: hsla(187, 68%, 47%, 1);

html {
  text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url("http://i.imgur.com/FRnzcBL.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // max-height: 100%;
  margin: 0;
  padding: 0;
}

main {
  color: lighten($base-font-color, 40%);
  font-variant-caps: small-caps;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
}

// Top title header section

div.header {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(lighten($base-font-color, 40%)),
    to(hsla(187, 68%, 47%, 0.5))
  );
  background: -webkit-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -moz-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -ms-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -o-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  letter-spacing: 0.5em;
  padding-bottom: 1em;

  h1 {
    margin: 0.5em 0 0.25em;
    font-family: $tic-tac-toe-font;
    color: darken($base-font-color, 20%);
    text-shadow: 2px 3px 8px hsla(193, 100%, 91%, 1);
    font-size: 3em;
  }

  p {
    color: darken($base-font-color, 20%);
    font-size: 1em;
    font-family: $base-font-family;
    font-variant-caps: normal;
    text-align: center;
    letter-spacing: normal;
    padding: 0 2em;
    margin: 0 0 0.5em;
  }

  @media (max-width: 550px) {
    font-size: 1em;
    letter-spacing: 0.3em;
    padding-bottom: 1em;

    h1 {
      font-size: 2em;
    }
  }
}

///////////// Gameboard and character images

img {
  height: 70px;
  width: 70px;

  &.pointer {
    height: 30px;
    width: 30px;
  }
}

table.gameBoard {
  font-family: $tic-tac-toe-font;
  margin: 1.5em 0;
  padding: 0;
  border: 0;
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */

  td {
    margin: 0;
    padding: 0;
    border: 0;
    width: 120px;
    height: 100px;
    font-size: 0;
    // color: hsla(0, 0%, 0%, 1);
    text-align: center;
    background-color: hsla(187, 93%, 68%, 0.75);
    border-radius: 1.1em;
  }

  td.topL {
    border-right: 3px solid $base-font-color;
    border-bottom: 3px solid $base-font-color;
  }

  td.topC {
    border-left: 3px solid $base-font-color;
    border-right: 3px solid $base-font-color;
    border-bottom: 3px solid $base-font-color;
  }

  td.topR {
    border-bottom: 3px solid $base-font-color;
  }

  td.midL {
    border-right: 3px solid $base-font-color;
    border-bottom: 3px solid $base-font-color;
  }

  td.midC {
    border-right: 3px solid $base-font-color;
    border-bottom: 3px solid $base-font-color;
  }

  td.midR {
    border-bottom: 3px solid $base-font-color;
  }

  td.lowL {
    border-right: 3px solid $base-font-color;
  }

  td.lowC {
    border-right: 3px solid $base-font-color;
  }
}

// Modal windows, play-again, and reset buttons

.cat button.reset {
  display: block;
}

button.reset {
  display: none;
  font-family: $base-font-family;
  font-size: 1.5em;
  width: 200px;
  height: 40px;
  margin: 1em;
  border-top: 1px solid hsla(187, 68%, 47%, 0.7);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(lighten($base-font-color, 40%)),
    to(hsla(187, 68%, 47%, 0.5))
  );
  background: -webkit-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -moz-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -ms-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -o-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  text-shadow: darken($base-font-color, 20%) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-top-color: darken($base-font-color, 20%);
    background: hsla(187, 68%, 47%, 0.7);
    // color: hsl(104, 4%, 19%);
    color: white;
    text-shadow: 0;
    width: 220px;
    -webkit-transition: width 0.35s ease-in-out;
    transition: width 0.35s ease-in-out;
  }

  &:active {
    border-top-color: hsla(187, 68%, 47%, 0.7);
    background: darken($base-font-color, 30%);
  }

  &:focus {
    outline: 4px;
    outline-offset: 0;
    outline-style: inset;
    outline-color: $base-font-color;
    border-radius: 10px;
    width: 200px;
  }
}

button.play-again {
  font-family: $base-font-family;
  font-size: 2em;
  width: 200px;
  height: 40px;
  margin: 1em;
  border-top: 1px solid hsla(187, 68%, 47%, 0.7);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(lighten($base-font-color, 40%)),
    to(hsla(187, 68%, 47%, 0.5))
  );
  background: -webkit-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -moz-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -ms-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  background: -o-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    hsla(187, 68%, 47%, 0.5)
  );
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  text-shadow: darken($base-font-color, 20%) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-top-color: darken($base-font-color, 20%);
    background: hsla(187, 68%, 47%, 0.7);
    // color: hsl(104, 4%, 19%);
    color: white;
    text-shadow: 0;
    width: 210px;
    -webkit-transition: width 0.35s ease-in-out;
    transition: width 0.35s ease-in-out;
  }

  &:active {
    border-top-color: hsla(187, 68%, 47%, 0.7);
    background: darken($base-font-color, 30%);
  }

  &:focus {
    outline: 4px;
    outline-offset: 0;
    outline-style: inset;
    outline-color: $base-font-color;
    border-radius: 10px;
    width: 200px;
  }
}

h2.reset {
  display: none;
}

.cat h2.reset {
  font-family: $tic-tac-toe-font;
  display: block;
  color: darken($base-font-color, 20%);
  text-shadow: 1px 1px 6px hsla(193, 100%, 91%, 1);
  margin: 0;
  font-size: 2.2em;
}

// Modal

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(187, 93%, 68%, 0.75);
  color: darken($base-font-color, 20%);
  border: none;
  border-radius: 20px;
  text-align: center;
  padding: 1em;
  height: 300px;
  width: 290px;

  img {
    padding-top: 2em;
    margin: 0;
  }

  h3 {
    font-size: 2em;
    padding: 0.5em;
    color: hsla(0, 0%, 98%, 0.96);
    text-shadow: 2px 3px 8px hsla(193, 21%, 16%, 1);
    font-family: $tic-tac-toe-font;
    margin: 0;
  }

  button {
    font-size: 1.25em;
    color: darken($base-font-color, 20%);
  }
}

body:not(.modal) .overlay {
  display: none;
  filter: blur(0);
}

body.modal main {
  filter: blur(10px);
  transition: filter 50ms ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

// Footer with social media contacts

div.footer {
  font-family: $base-font-family;
  color: hsl(0, 0%, 100%);
  font-weight: lighter;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(lighten($base-font-color, 40%)),
    to(darken($base-font-color, 20%))
  );
  background: -webkit-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    darken($base-font-color, 20%)
  );
  background: -moz-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    darken($base-font-color, 20%)
  );
  background: -ms-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    darken($base-font-color, 20%)
  );
  background: -o-linear-gradient(
    top,
    (lighten($base-font-color, 40%)),
    darken($base-font-color, 20%)
  );

  h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    // color: darken($base-font-color, 20%);
    color: #fafafa;
    font-family: $tic-tac-toe-font;
    margin: 0;
  }

  .socials,
  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;

    li {
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      a {
        text-indent: 0;
        color: inherit;
      }
    }
  }

  h5 {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 1em;
    padding-bottom: 2em;
    margin: 0;
    font-weight: lighter;
  }
}

@media (max-width: 600px) {
  footer {
    h2 {
      text-align: center;
      font-size: 1em;
      font-weight: lighter;
      font-variant-caps: all-small-caps;
      color: darken($base-font-color, 20%);
      font-family: $tic-tac-toe-font;
      margin: 0;
      padding: 0.5em 1em;
      line-height: 1em;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      flex-wrap: wrap;
      font-size: 1em;
      justify-content: center;
      align-items: center;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      margin: 0.2em;
    }

    h5 {
      text-align: center;
      font-size: 1em;
      padding: 0 1em 2em;
      color: $base-font-color;
      margin: 0;
      font-weight: lighter;
    }
  }
}

.socials ul {
  li {
    border: 0 solid;
    box-shadow: inset 10 10 50px hsla(191, 46, 87, 0.1);
    outline: 0 solid;
    outline-offset: 10px;
    text-shadow: none;
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      border: 0 solid;
      outline-color: rgba(255, 255, 255, 1);
      outline-offset: 30px;
      text-shadow: 4px 4px 8px darken($base-font-color, 30%);
    }
  }
}
